@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, main{
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.image{
    background-image: url("./images/hero-mobile.jpg");
}

@media screen and (min-width:1024px){
    .image{
        background-image: url("./images/hero-desktop.jpg");
    }
}